{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}
    Dziennik pomiarów ciśnienia
{% endblock title %}

{% block content %}

<!-- HOMEPAGE CHARTS Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Strona główna</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generuj raport</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- ADD MEASUREMENT Card -->
            <div class="col-xl-3 col-md-6 mb-4" onclick="window.location='{% url 'measurements:add_measurement' %}';">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">TWOJE POMIARY</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">DODAJ NOWY POMIAR</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-check fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- MEASUREMENTS' DETAILS Card -->
            <div class="col-xl-3 col-md-6 mb-4" onclick="window.location='{% url 'homepage:details' %}';">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">TWOJE POMIARY</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">ANALIZUJ POMIARY</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-align-left fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- SEND MEASUREMENTS Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">TWÓJ LEKARZ</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">WYŚLIJ POMIARY</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-share fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- GENERATE STATISTICS Card -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">TWOJE STATYSTYKI</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">GENERUJ PLIK</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-12" onclick="window.location='{% url 'homepage:systolic_pressure' %}';">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Ciśnienie skurczowe</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area h-100">
                    <canvas id="systolic_pressure" width='100%'></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-12" onclick="window.location='{% url 'homepage:diastolic_pressure' %}';">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Ciśnienie rozkurczowe</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area h-100">
                    <canvas id="diastolic_pressure" width='100%'></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-12" onclick="window.location='{% url 'homepage:pulse' %}';">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Puls</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area h-100">
                    <canvas id="pulse" width='100%'></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- HOMEPAGE CHARTS Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="{% static 'chart_js/diastolic_pressure.js' %}"></script>

<script type="module">
  {% block jquery %}
    var endpoint = '{% url 'homepage:get_api_data' %}'
    var dates = [];
    var systolic_pressue = [];
    var diastolic_pressue = [];
    var pulse = [];
    $.ajax({
      url: endpoint,
      type: "GET",
      data: { size: 7 },
      success: function(response_data){
        dates = response_data.measurement_date
        systolic_pressure = response_data.systolic_pressure
        diastolic_pressure = response_data.diastolic_pressure
        pulse = response_data.pulse

        var systolic_pressure_chart = document.getElementById('systolic_pressure').getContext("2d");
        var chart1 = new Chart(systolic_pressure_chart, {
          type: 'line',
          data: {
              labels: dates,
              datasets: [{
                  label: 'mm Hg',
                  data: systolic_pressure,
              }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  suggestedMax: 200,
                }
              }]
            }
          }
        });

        var diastolic_pressure_chart = document.getElementById('diastolic_pressure').getContext("2d");
        var chart2 = new Chart(diastolic_pressure_chart, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'mm Hg',
                    data: diastolic_pressure,
                }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    suggestedMax: 120,
                  }
                }]
              }
            }
          });

        var pulse_chart = document.getElementById('pulse').getContext("2d");
        var chart3 = new Chart(pulse_chart, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'uderzeń / min',
                    data: pulse,
                }]
            },
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    suggestedMax: 180,
                  }
                }]
              }
            }
          });
      },
      error: function(error_data){
        console.log('błąd pobierania danych pomiarów')
        console.log(error_data)
      }
    })

    console.log(dates)
  





  {% endblock jquery %}
</script>